# Evaluating GDP per Capita using CASE and IF
© ExploreAI Academy

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning Objectives

- Understand the concept of GDP per capita and its significance in evaluating the economic conditions of a country.
- Learn how to calculate GDP per capita using SQL.
- Practice using SQL CASE and IF statements to categorize countries based on GDP per capita.

## Overview

In this notebook, we will explore how to evaluate Gross Domestic Product (GDP) per capita using SQL. GDP per capita is a measure of the total output of a country that takes the GDP and divides it by the number of people in the country. It provides an average economic output per person, enabling us to compare living standards between countries over a period of time.

We will use the `united_nations.Access_to_Basic_Services` table, which contains information about different countries, their estimated GDP, and population.

Let's begin by calculating GDP per capita for each country.

### Connecting to our MySQL database

Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [2]:
# load and activate the SQL extension to allows us to execute SQL in a Jupyter notebook

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
# establish a connection to the local database using the '%sql' magic command,
# replace 'password' with our connection password and `db_name` with our database name

%sql mysql+pymysql://root:123@localhost:3306/united_nations

'Connected: root@united_nations'

## Exercise

### Task 1: Calculate GDP per Capita

Calculate GDP per capita for each country. The GDP per capita can be calculated by dividing the GDP by the population and multiplying by 1000.

To achieve this, you will use the following columns from the `Access_to_Basic_Services` table:

- `Country_name`: A string column representing the name of each country.
- `Time_period`: An integer column indicating the specific time period for the data.
- `Est_population_in_millions`: A numeric column representing the estimated population of each country in millions.
- `Est_gdp_in_billions`: A numeric column representing the estimated GDP of each country in billions.
You will also create an additional column as follows:

- `GDP_per_capita`: A numeric column that will store the calculated GDP per capita for each country. The value will be obtained by dividing the `Est_gdp_in_billions` by the `Est_population_in_millions` and then multiplying the result by 1000.

In [3]:
%%sql

SELECT
    Country_name,
    Time_period,
    Est_population_in_millions,
    Est_gdp_in_billions,
    (Est_gdp_in_billions / Est_population_in_millions) * 1000 AS GDP_per_capita
FROM
    united_nations.Access_to_Basic_Services LIMIT 20;

 * mysql+pymysql://root:***@localhost:3306/united_nations
20 rows affected.

[('Kazakhstan', 2015, Decimal('17.542806'), Decimal('184.39'), Decimal('10510.861261')),
 ('Kazakhstan', 2016, Decimal('17.794055'), Decimal('137.28'), Decimal('7714.936253')),
 ('Kazakhstan', 2017, Decimal('18.037776'), Decimal('166.81'), Decimal('9247.814143')),
 ('Kazakhstan', 2018, Decimal('18.276452'), Decimal('179.34'), Decimal('9812.626652')),
 ('Kazakhstan', 2019, Decimal('18.513673'), Decimal('181.67'), Decimal('9812.747584')),
 ('Kazakhstan', 2020, Decimal('18.755666'), Decimal('171.08'), Decimal('9121.510268')),
 ('Kyrgyzstan', 2015, None, None, None),
 ('Kyrgyzstan', 2016, None, None, None),
 ('Kyrgyzstan', 2017, None, None, None),
 ('Kyrgyzstan', 2018, None, None, None),
 ('Kyrgyzstan', 2019, None, None, None),
 ('Kyrgyzstan', 2020, None, None, None),
 ('Tajikistan', 2015, Decimal('8.524063'), Decimal('8.27'), Decimal('970.194613')),
 ('Tajikistan', 2016, Decimal('8.725318'), Decimal('6.99'), Decimal('801.116934')),
 ('Tajikistan', 2017, Decimal('8.925525'), Decimal('7.54'), Decimal('844.768235')),
 ('Tajikistan', 2018, Decimal('9.128132'), Decimal('7.77'), Decimal('851.214684')),
 ('Tajikistan', 2019, Decimal('9.337003'), Decimal('8.30'), Decimal('888.936204')),
 ('Tajikistan', 2020, Decimal('9.543207'), Decimal('8.13'), Decimal('851.914875')),
 ('Turkmenistan', 2015, Decimal('5.766431'), Decimal('35.80'), Decimal('6208.346202')),
 ('Turkmenistan', 2016, Decimal('5.868561'), Decimal('36.17'), Decimal('6163.350777'))]

### Task 2: Add Poverty Line

Add a column called "Poverty_line". Use the IF function to assign a poverty line value based on the time period. If the time period is before 2017, the poverty line is set to 1.90; otherwise, it is set to 2.50.

In [4]:
%%sql

SELECT
    Country_name,
    Time_period,
    Est_population_in_millions,
    Est_gdp_in_billions,
    (Est_gdp_in_billions / Est_population_in_millions) * 1000 AS GDP_per_capita,
    IF(Time_period < 2017, 1.90, 2.50) AS Poverty_line
FROM
    united_nations.Access_to_Basic_Services LIMIT 20;

 * mysql+pymysql://root:***@localhost:3306/united_nations
20 rows affected.

[('Kazakhstan', 2015, Decimal('17.542806'), Decimal('184.39'), Decimal('10510.861261'), Decimal('1.90')),
 ('Kazakhstan', 2016, Decimal('17.794055'), Decimal('137.28'), Decimal('7714.936253'), Decimal('1.90')),
 ('Kazakhstan', 2017, Decimal('18.037776'), Decimal('166.81'), Decimal('9247.814143'), Decimal('2.50')),
 ('Kazakhstan', 2018, Decimal('18.276452'), Decimal('179.34'), Decimal('9812.626652'), Decimal('2.50')),
 ('Kazakhstan', 2019, Decimal('18.513673'), Decimal('181.67'), Decimal('9812.747584'), Decimal('2.50')),
 ('Kazakhstan', 2020, Decimal('18.755666'), Decimal('171.08'), Decimal('9121.510268'), Decimal('2.50')),
 ('Kyrgyzstan', 2015, None, None, None, Decimal('1.90')),
 ('Kyrgyzstan', 2016, None, None, None, Decimal('1.90')),
 ('Kyrgyzstan', 2017, None, None, None, Decimal('2.50')),
 ('Kyrgyzstan', 2018, None, None, None, Decimal('2.50')),
 ('Kyrgyzstan', 2019, None, None, None, Decimal('2.50')),
 ('Kyrgyzstan', 2020, None, None, None, Decimal('2.50')),
 ('Tajikistan', 2015, Decimal('8.524063'), Decimal('8.27'), Decimal('970.194613'), Decimal('1.90')),
 ('Tajikistan', 2016, Decimal('8.725318'), Decimal('6.99'), Decimal('801.116934'), Decimal('1.90')),
 ('Tajikistan', 2017, Decimal('8.925525'), Decimal('7.54'), Decimal('844.768235'), Decimal('2.50')),
 ('Tajikistan', 2018, Decimal('9.128132'), Decimal('7.77'), Decimal('851.214684'), Decimal('2.50')),
 ('Tajikistan', 2019, Decimal('9.337003'), Decimal('8.30'), Decimal('888.936204'), Decimal('2.50')),
 ('Tajikistan', 2020, Decimal('9.543207'), Decimal('8.13'), Decimal('851.914875'), Decimal('2.50')),
 ('Turkmenistan', 2015, Decimal('5.766431'), Decimal('35.80'), Decimal('6208.346202'), Decimal('1.90')),
 ('Turkmenistan', 2016, Decimal('5.868561'), Decimal('36.17'), Decimal('6163.350777'), Decimal('1.90'))]

### Task 3: Implement CASE and IF statements

Finally, implement CASE and IF statements to determine the income group of each country based on GDP per capita and the poverty line.

In [5]:
%%sql

SELECT DISTINCT
    Country_name,
    Time_period,
    Est_population_in_millions,
    Est_gdp_in_billions,
    (Est_gdp_in_billions / Est_population_in_millions) * 1000 AS GDP_per_capita,
    (Est_gdp_in_billions / Est_population_in_millions) * (1000 / 365.25) AS GDP_per_capita_per_day,
    IF(Time_period < 2017, 1.90, 2.50) as Poverty_line,
    CASE
        WHEN  (Est_gdp_in_billions / Est_population_in_millions)*(1000 / 365.25) < IF (Time_period < 2017, 1.90, 2.50)
            THEN 'Low'
        WHEN (Est_gdp_in_billions / Est_population_in_millions)*(1000 / 365.25) > IF (Time_period < 2017, 1.90, 2.50)
            THEN 'High'
        ELSE 'Medium'
    END AS Income_group
FROM united_nations.Access_to_Basic_Services
WHERE Est_gdp_in_billions IS NOT NULL LIMIT 50;
where

 * mysql+pymysql://root:***@localhost:3306/united_nations
50 rows affected.
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'where' at line 1")
[SQL: where]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Solutions

### Task 1: Calculate GDP per Capita

%%sql
SELECT DISTINCT
    Country_name,
    Time_period,
    Est_population_in_millions,
    Est_gdp_in_billions,
    (Est_gdp_in_billions / Est_population_in_millions) * 1000 AS GDP_per_capita
FROM united_nations.Access_to_Basic_Services
WHERE Est_gdp_in_billions IS NOT NULL;

### Task 2: Add Poverty Line

In [ ]:
%%sql
SELECT DISTINCT
    Country_name,
    Time_period,
    Est_population_in_millions,
    Est_gdp_in_billions,
    (Est_gdp_in_billions / Est_population_in_millions) * 1000 AS GDP_per_capita,
    IF(Time_period < 2017, 1.90, 2.50) AS Poverty_line
FROM united_nations.Access_to_Basic_Services
WHERE Est_gdp_in_billions IS NOT NULL;

### Task 3: Implement CASE and IF statements

In [ ]:
%%sql
SELECT DISTINCT
    Country_name,
    Time_period,
    Est_population_in_millions,
    Est_gdp_in_billions,
    (Est_gdp_in_billions / Est_population_in_millions) * 1000 AS GDP_per_capita,
    (Est_gdp_in_billions / Est_population_in_millions) * (1000 / 365.25) AS GDP_per_capita_per_day,
    IF(Time_period < 2017, 1.90, 2.50) as Poverty_line,
    CASE
        WHEN  (Est_gdp_in_billions / Est_population_in_millions)*(1000 / 365.25) < IF (Time_period < 2017, 1.90, 2.50)
            THEN 'Low'
        WHEN (Est_gdp_in_billions / Est_population_in_millions)*(1000 / 365.25) > IF (Time_period < 2017, 1.90, 2.50)
            THEN 'High'
        ELSE 'Medium'
    END AS Income_group
FROM united_nations.Access_to_Basic_Services
WHERE Est_gdp_in_billions IS NOT NULL;

## Summary

In this notebook, we've learned how to use SQL to calculate GDP per capita and categorize countries into different income groups based on their GDP per capita. We've used SQL's CASE and IF statements to accomplish this.

The CASE statement allowed us to execute different computations based on the value of GDP per capita, while the IF statement enabled us to set different poverty lines based on the year.

Through these exercises, we've seen how SQL can be a powerful tool for transforming and analyzing economic data. By calculating GDP per capita and categorizing countries into different income groups, we are able to gain a deeper understanding of the economic conditions in different countries and regions.

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>